@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body,
#app {
  height: 100vh;
  width: 100vw;

  background-color: #18181c;
  overflow: hidden;

  /* Naive UI missing styles in dark mode */
  --n-border-color: #2c2c32;
  --nc-primary-color: #63e2b7;
  --nc-bg-color: #2a2a2e;
}
